<!doctype html>
<html>
  <head>
    <title>CID Search</title>
  </head>
  <body>
    <h1>CID Search</h1>
    <form method="POST" action="" >
      <label for="MCC">Mobile Country Code :</label>
      <input id="MCC" type="number" name="MCC" value="0">
      <label for="NET">Moblile NETwork Code :</label>
      <input id="NET" type="number" name="NET" value="0">
      <label for="LAC">Location Area Code :</label>
      <input id="LAC" type="number" name="LAC" value="0">
      <p><input type="submit" value="Submit"></p>
    </form>
  </body>
</html>